
.pictureControlsDiv {
					display: none;
				}
.videoControlsDiv {
					display: none;
					}
					
.newVideoControlsDiv{
					display: none;
					}
	.glyph:hover {
		-webkit-transition: all 0.5s ease-out;
		background:#222821;
		color:#fff;
		text-shadow: none;
		-moz-text-shadow: none;
		-webkit-text-shadow: none;
		top:-5px;
		position:relative;
	}
	.whoami{
		margin-left: -150px;
		}
	.mainContainer {
		min-height: 685px;
		}
	.sidebar{
		background: #323A45;
		padding: 20px;
	}
	.itemSpecial {
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 1.5em;
	}
	.items{
		min-height: 100px;
	}
	
	.countIcon {
		font-size: 52px;
		}
	.numberCount {
		color: #f89406;
		font-weight: bold;
	}
	
	.newItem {
		background: #FFF;
		border: 2px #323A45 solid;
		display: none;
		}
	.existingItems {
		background: #FFF;
		border: 2px #323A45 solid;
		display:none;
		}		
	.viewCounter {
		margin-bottom: 15px;
	}
	
	.sub30margin{
		margin-left: -20px;
	}
	.sub15MarginLeft{
		margin-left: -5px;
	}
	
	.newItemViewLinks {
		display: none;
	}
	
	.demoIcon {
	margin-left: 20px;
	margin-right: 20px;
	}

.analyticsDiv {
	overflow: hidden;
	}